@import "./default.scss";

$themeColor: rgb(29, 155, 240);
$backgroundColor: #fafafa;
$borderLeftWidth: 3rem;
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

.html {
  font-size: 24px;
  font-family: $fontFamily;
}

#mdimg-body {
  border-left: $borderLeftWidth solid $themeColor;
}

.top {
  color: $themeColor;
  font-size: 5rem;
  font-weight: bold;
  padding-left: 4rem;
  padding-top: $borderLeftWidth;
}

.markdown-body {
  padding: 2rem 4rem;
  margin: 0 4rem;
  background-color: $backgroundColor;
  hyphens: auto;

  p {
    color: #121212;
    font-size: 2rem;
    font-weight: bold;
    line-height: 3.5rem;
  }
}

.bottom {
  padding-bottom: $borderLeftWidth;
}
